# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
www/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.firebase/
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.github/CONTRIBUTING.md
package-lock.json
.github/ionic-issue-bot.yml
.github/ISSUE_TEMPLATE.md
.github/workflows/CI.yml
.firebaserc
.circleci/config.yml
.vs/kc-code-2019/config/applicationhost.config
.vs/slnx.sqlite
.vs/kc-code-2019/v16/.suo
.vs/VSWorkspaceState.json
